
<div class="container">
  <h1>迷い猫の保護の仕方</h1>
  <p style = "text-align: left;">
    <br>猫は警戒心が強いので、逃げ出さないように慎重に対応しましょう。<br>
    迷子猫への接し方は、ひっかかれたり危険なので、キャリーなどに入れてください。 <br>
    キャリーに水とフードだけ入れ、落ち着くまで少し様子を見てください。<br>
    怪我や具合が悪そうであれば動物病院に連れて行ってください。<br>
    猫が落ち着き、触れればネームプレートや首輪の裏などを確認して連絡先がわかるか確認してください。<br>
    連絡先がわかれば、そこへ連絡してあげて下さい。<br>
  <p><strong>このサイトで迷い猫を投稿する際は、以下を記入していただけると幸いです。</strong></p>
  <ul>
    <li>保護した場所</li>
    <li>なぜ保護したかの経緯</li>
    <li>種類、大きさ、毛色、おおよその年齢</li>
    <li>ネームプレートや首輪の有無</li>
  </ul>
  </p>

  <h4>保健所・動物愛護センター</h4>
    <p>
  		保健所・動物愛護センターはペットを保護したり、目撃情報が寄せられたりしています。<br>
  		保健所では処分されてしまう可能性もありますので気をつけましょう。<br>
  		また、迷子を保護している人から「保護届」が出ている可能性もあるので、必ず連絡するようにしましょう。<br>
  		連絡先は以下になります。
  	</p>
    <p>
  		国立感染症研究所ＨＰ・全国保健所一覧：<br>
  		<a href="https://www.niid.go.jp/niid/ja/from-idsc/2153-hcl/2401-phc-index.html">https://www.niid.go.jp/niid/ja/from-idsc/2153-hcl/2401-phc-index.html</a>
  	</p>
  	<p>
  		環境省ＨＰ・収容動物検索情報サイト：<br>
  		<a href="https://www.env.go.jp/nature/dobutsu/aigo/shuyo/">https://www.env.go.jp/nature/dobutsu/aigo/shuyo/</a>
  	</p>

	<h4 class="mt-5">警察署</h4>
  	<p>
  		警察署は迷子動物の正式な届け場所ですので「遺失物届」を出します（24時間365日受付）。<br>
  		現在の法律では動物は「モノ」として扱われています。<br>
  		迷子猫を保護した人が、猫を「拾得物」として派出所や警察署に届け出ているかもしれないので、お近くの交番に問い合わせてみましょう。
  	</p>

		<p>
		都道府県警察における遺失物の公表ページ：<br/>
		<a href="https://www.npa.go.jp/bureau/soumu/ishitsubutsu/ishitsubutsulink.html">https://www.npa.go.jp/bureau/soumu/ishitsubutsu/ishitsubutsulink.html</a>
		</p>
</div>


