<h1>迷い猫の保護の仕方</h1>
<p>猫は警戒が強いので、逃げ出さないように慎重に対応しましょう。<br>
迷い猫への接し方は、ひっかかれたりしないようにキャリーなどに入れてください。<br>
警戒心を解くためにキャリーに水とフードだけ入れ、落ち着くまで少し様子を見てください。<br>
けがや具合が悪そうであれば動物病院に連れて行ってください。<br>

猫が落ち着いたら、ネームプレートや首輪の裏などに連絡先があるか確認してみてください。 <br>
連絡先がわかれば、そこへ連絡してあげて下さい。</p>