
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3>迷い猫の保護の仕方</h3>
        <p class="card-text">
          <br>猫は警戒心が強いので、逃げないようにしましょう。<br>
          迷い猫を捕まえた際、キャリーなどに入れてください。 <br>
          キャリーに水とフードだけ入れ、落ち着くまで少し様子を見てください。<br>
          怪我や具合が悪そうであれば動物病院に連れて行ってください。<br>
          猫が落ち着き、触れればネームプレートや首輪の裏などを確認して連絡先がわかるか確認してください。<br>
          連絡先がわかれば、そこへ連絡してあげて下さい。<br>
        </p>
        <p class="card-text"><strong>このサイトで迷い猫を投稿する際は、以下を記入していただけると幸いです。</strong></p>
        <ul class="card-text">
          <li>保護した場所</li>
          <li>なぜ保護したかの経緯</li>
          <li>種類、大きさ、毛色、おおよその年齢</li>
          <li>ネームプレートや首輪の有無</li>
        </ul>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3>保健所・動物愛護センター</h3>
        <p class="card-text">
        	保健所・動物愛護センターはペットを保護したり、目撃情報が寄せられたりしています。<br>
      		保健所では処分されてしまう可能性もありますので気をつけましょう。<br>
      		連絡先は以下になります。
      	</p>
        <p class="card-text">
        	国立感染症研究所ＨＰ・全国保健所一覧：<br>
        	<a href="https://www.niid.go.jp/niid/ja/from-idsc/2153-hcl/2401-phc-index.html">https://www.niid.go.jp/niid/ja/from-idsc/2153-hcl/2401-phc-index.html</a>
        </p>
        <p class="card-text">
        	動物愛護と適切な管理：<br>
        	<a href="https://www.env.go.jp/nature/dobutsu/aigo/index.html">https://www.env.go.jp/nature/dobutsu/aigo/index.html</a>
        </p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
      <h3>警察署</h3>
        <p class="card-text">
        	下記で遺失物として提出するか、最寄りの交番に行きましょう。<br>
      		できるだけ警察ではなく保健所に連絡するようにしましょう。
        </p>
      	<p>
      	都道府県警察における遺失物の公表ページ：<br/>
      	<a href="https://www.npa.go.jp/bureau/soumu/ishitsubutsu/ishitsubutsulink.html">https://www.npa.go.jp/bureau/soumu/ishitsubutsu/ishitsubutsulink.html</a>
      	</p>
      </div>
    </div>
</div>


