
<div class="container">
  <div class="row">
    <h1>野良猫の接し方</h1>
    <p　style = "text-align: left;">野良猫がとても人懐こく寄ってきたら、撫でたり遊んだりしたくなりますね！<br>
    その延長で、持っていた食べ物を与えたこともある経験のある方もいらっしゃると思います。<br>
    また住宅街にいる野良猫に対して、「食べるものがなくてかわいそうだから」という理由で、毎日のように与えている人もいます。<br>
    野良猫に餌付けすると、去勢・避妊手術を行っていない場合は、ますます野良猫が集まり繁殖を助長してしまいます。<br>
    猫の数が増えることで、その地域に住む人の家の庭などに出入りしては排泄をしていくなど、糞尿被害も拡大していくのです。<br>
    自分の猫として保護できる責任が取れない場合、餌付けだけしてその後は放置するという行為は慎むべきでしょう。
    </p>
  </div>
</div>
