
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3>野良猫の接し方</h3>
      <p class="card-text">
        <br>野良猫が寄ってきたりすると嬉しいですよね！<br>
        その中で餌付けをしてしまうことは少なくないと思います。<br>
        それと同じように野良猫に毎日餌をあげる人もいると思います。<br>
        野良猫に餌付けすると、そこに住み着いてしまい、他の猫が増える原因にもなってしまいます。<br>
        猫の数が増えることで、糞尿、騒音被害と被害が増えていきます。<br>
        飼い猫として保護できる責任が取れないのであれば、餌付けをする行為はやめるべきでしょう。
      </p>
    </div>
  </div>
</div>


