
<div class="container">
  <div class="card">
     <div class="card-body">
      <h2>Welcome!!</h2>
      <p class="card-text">
        このサイトは、普段生活している中、外にいる猫たちをみんなで投稿し、共有するサイトです。<br>
        使い方は見つけた猫を写真で投稿して共有しましょう！<br>
        野良猫を愛でたり、迷い猫であった場合情報を共有するなどそういった点で役に立てれば幸いです。
        ※猫の一覧は見られますが、詳細はログイン必須なのでご了承ください。
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3>投稿の仕方</h3>
      <p><strong>投稿するためにはSign upを行い、Log inしている状態でないとできません。</strong></p>
      <ol>
        <li>MAPで見つけた場所を入力</li>
        <li>見つけた猫の画像を選択</li>
        <li>タイトルを入力</li>
        <li>内容を入力</li>
        <li>ジャンルを選択(野良猫、迷い猫)</li>
      </ol>
    </div>
  </div>
</div>

