<h4>サイト概要とするレイアウト調整</h4>
<!--サインインした後にくるページなので-->
<!--ユーザーの名前を入れてあげる-->
<h1>ようこそ！</h1>
<p>
  このサイトは、普段生活している中外にいる猫たちをみんなで投稿し、
  共有するサイトです。
  使い方は見つけた猫を写真で投稿して共有しましょう！
  野良猫を愛でたり、迷い猫であった場合情報を共有するなど
  そういった点で役に立てれば幸いです。
</p>