<h1>Homes#top</h1>

<!--サインインした後にくるページなので-->
<!--ユーザーの名前を入れてあげる-->
<h1>ようこそ！xxxx</h1>
<p>
  この世界にはたくさんの猫たちがいます。
  さぁ一緒に探しに行きませんか？
</p>

<div>
  <i class="fas fa-running fa-5x"></i>
  <i class="fa-solid fa-cat"></i>
  
</div>