@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.background {
  box-sizing: border-box;
  background-image: url("../images/haikei1_image.jpg");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  padding-bottom: 60px;
}

.ttl_read {
  font-size: 10px;
  padding-top: 0;
  display: block;
}

nav {
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

body {
  padding-top: 56px;
  padding-bottom: 120px;
}
// ボタンのcss
btn {
  border-radius: 4px;
}

footer{
  padding-top: 10px;
  height: 140px;
}

.alert {
  margin-bottom: 0;
}

table td {
  word-break : break-all;
}


table th {
  white-space: nowrap;
}


.introduction {
  display: block;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  display: inline-block;
  background: linear-gradient(transparent 70%, #ffffc6 70%);
}