<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center; margin-top: 50px;">
      <h2>退会確認</h2>
    </div>
    <div class="col-md-6" style="text-align: center; margin-top: 50px;">
     <p>
       退会すると、投稿することや<br>
       これまでの投稿履歴が閲覧できなくなります。<br>
       退会する場合は、「退会する」をクリックしてください
      </p>
      <%= link_to "退会する", withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" },class: 'btn btn-danger' %>
      <%= link_to "退会しない", show_path(current_user),class: 'btn btn-success ml-5' %>
    </div>
   </div>
</div>