<footer class="fixed-bottom" style="background-color: #FF9999";>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; line-height: 100px;">
        CopyRight Stray Cat's MAP.inc
        <%= link_to "野良猫の接し方", nora_path %>
        <%= link_to "迷い猫の保護の仕方", hogo_path %>
      </div>
    </div>
  </div>
</footer>